html {
  box-sizing: border-box;
   scroll-behavior: smooth; /* Cuộn cho mượt*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Common */

/* Main */
.header {
  height: 46px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-item {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.nav-item-link {
  text-decoration: none;
  color: #fff;
  line-height: 46px;
  padding: 0 24px;
}

.nav-item-link-icon {
}

.nav-item:hover .nav-item-link {
  background-color: #ccc;
  color: #000;
  display: inline-block;
}

.nav .sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
}

.nav .nav-item:hover .sub-nav {
  display: block;
}

.sub-nav-item a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  padding: 0 12px;
  color: #000;
  text-transform: capitalize;
}

.sub-nav-item:hover {
  background-color: #ccc;
  color: #000;
  display: block;
}

.search-button {
  line-height: 46px;
  padding: 0 23px;
}

.search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}

.search-button-icon {
  color: #fff;
}

/* ========= SLIDER ========= */
.slider {
  /* min-height: 2000px; */
  background-color: #ccc;
  margin-top: 46px;
  padding-top: 50%; /* chiều cao bằng 50% chiều ngang của chính nó */
  background: url("/assets/img/slider/slider-1.jpg") top center / cover
    no-repeat; /* Đưa ảnh vào thằng trong css */
  position: relative;
}

.text-content {
  position: absolute;
  bottom: 47px;
  width: 100%; /* Căn giữa chữ trong css */
  color: #fff;
  text-align: center;
}

.text-heading {
  font-weight: 800;
  font-size: 24px;
}

.text-description {
  font-size: 15px;
  margin-top: 25px;
  font-weight: 600;
}

.content {
  /* min-height: 2000px */
}

.content .content-section {
  width: 800px;
  padding: 64px 0 112px;
  margin-left: auto; /* Căn giữa */
  margin-right: auto; /* Căn giữa */
}

.content-section .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px; /* Tăng khoảng cách chữ*/
}

.content-section .section-sub-heading {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  opacity: 0.6;
  margin: 25px 0;
}

.about-text {
  font-size: 15px;
  text-align: justify; /* Căn đều 2 bên của đoạn text*/
  line-height: 1.4;
}

.content .member-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  width: 700px;
  margin-left: auto; /* Căn giữa */
  margin-right: auto; /* Căn giữa */
}

.content .member-name {
  font-size: 15px;
  text-align: center;
}

.content .member-ava {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour section */
.tour-section {
  background-color: #000;
}

.tour-section .content-section {
  color: #fff;
}

.ticket-list {
  background-color: #fff;
  color: #757575;
  margin-top: 40px;
}

.ticket-list li {
  font-size: 15px;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.sold-out {
  background-color: #f44336;
  padding: 3px 4px;
  color: #fff;
  margin-left: 16px;
}

.quantity {
  float: right; /* đưa đối tượng sát bên phải */
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  text-align: center;
  margin-top: -4px;
}

.places-list {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 18px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.7;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
  color: #000;
}

.place-heading {
  font-weight: 800;
}

.place-time {
  margin-top: 15px;
  opacity: 0.7;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.place-buy-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 11px 16px;
  margin-top: 15px;
  text-decoration: none;
}

.place-buy-btn:hover {
  background-color: #ccc;
  color: #000;
}

/* ======== Modal ========= */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-header i {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 97%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

.buy-tickets {
  background-color: #009688;
  border: none;
  color: #fff;
  font-size: 15px;
  width: 100%;
  text-transform: uppercase;
  padding: 18px;
}

.buy-tickets:hover {
  cursor: pointer;
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
  font-weight: 500;
}

.modal-footer a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0.4;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section {
  display: flex;
  justify-content: space-between;
}

.contact-section-info {
  font-size: 18px;
  line-height: 1.4;
}

.contact-section-info i {
  width: 30px;
  display: inline-block;
}

.contact-section-input-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.form-control-name,
.form-control-mail,
.form-control-message {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.form-submit-btn {
  margin-top: 16px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-left: auto;
  padding: 10px 16px;
  display: block;
  cursor: pointer;
}

/* Map section */

.map-section img {
  width: 100%;
}


/* Footer */

.footer {
  padding: 64px 16px;
  text-align: center;
}

.social-list {
  font-size: 24px;
}

.social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.social-list a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}


.copyright a {
  color: rgba(0, 0, 0, 0.6);
}